-- ===============================================================
-- My Safety Spot - MySQL DDL (Optimized)
-- ===============================================================
CREATE DATABASE IF NOT EXISTS my_safety_spot
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;
USE my_safety_spot;

SET NAMES utf8mb4;
SET time_zone = '+00:00';
SET FOREIGN_KEY_CHECKS = 0;

-- ===============================================================
-- USERS
-- ===============================================================
CREATE TABLE users (
  lineUserId   VARCHAR(50)  NOT NULL,
  displayName  VARCHAR(255),
  pictureUrl   VARCHAR(1024),
  fullName     VARCHAR(255) NOT NULL,
  employeeId   VARCHAR(50)  NOT NULL,
  totalScore   INT DEFAULT 0,
  createdAt    DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (lineUserId),
  UNIQUE KEY uq_users_employeeId (employeeId)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===============================================================
-- ACTIVITIES
-- ===============================================================
CREATE TABLE activities (
  activityId   VARCHAR(50) NOT NULL,
  title        VARCHAR(255) NOT NULL,
  description  TEXT,
  imageUrl     VARCHAR(1024),
  status       ENUM('active','inactive') DEFAULT 'active',
  createdAt    DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (activityId),
  KEY idx_activities_status (status)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===============================================================
-- BADGES
-- ===============================================================
CREATE TABLE badges (
  badgeId     VARCHAR(50) NOT NULL,
  badgeName   VARCHAR(255) NOT NULL,
  description TEXT,
  imageUrl    VARCHAR(1024),
  PRIMARY KEY (badgeId)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===============================================================
-- SUBMISSIONS
-- ===============================================================
CREATE TABLE submissions (
  submissionId VARCHAR(50) NOT NULL,
  activityId   VARCHAR(50) NOT NULL,
  lineUserId   VARCHAR(50) NOT NULL,
  description  TEXT NOT NULL,
  imageUrl     VARCHAR(1024),
  status       ENUM('pending','approved','rejected') DEFAULT 'pending',
  points       INT DEFAULT 0,
  createdAt    DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (submissionId),
  KEY idx_submissions_activityId (activityId),
  KEY idx_submissions_lineUserId (lineUserId),
  KEY idx_submissions_status (status),
  CONSTRAINT fk_submissions_activity FOREIGN KEY (activityId) REFERENCES activities(activityId) ON DELETE CASCADE,
  CONSTRAINT fk_submissions_user FOREIGN KEY (lineUserId) REFERENCES users(lineUserId) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===============================================================
-- COMMENTS
-- ===============================================================
CREATE TABLE comments (
  commentId    VARCHAR(50) NOT NULL,
  submissionId VARCHAR(50) NOT NULL,
  lineUserId   VARCHAR(50) NOT NULL,
  commentText  TEXT NOT NULL,
  createdAt    DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (commentId),
  KEY idx_comments_submissionId (submissionId),
  KEY idx_comments_lineUserId (lineUserId),
  CONSTRAINT fk_comments_submission FOREIGN KEY (submissionId) REFERENCES submissions(submissionId) ON DELETE CASCADE,
  CONSTRAINT fk_comments_user FOREIGN KEY (lineUserId) REFERENCES users(lineUserId) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===============================================================
-- LIKES
-- ===============================================================
CREATE TABLE likes (
  likeId       VARCHAR(50) NOT NULL,
  submissionId VARCHAR(50) NOT NULL,
  lineUserId   VARCHAR(50) NOT NULL,
  createdAt    DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (likeId),
  UNIQUE KEY uq_likes_submission_user (submissionId, lineUserId),
  KEY idx_likes_submissionId (submissionId),
  KEY idx_likes_lineUserId (lineUserId),
  CONSTRAINT fk_likes_submission FOREIGN KEY (submissionId) REFERENCES submissions(submissionId) ON DELETE CASCADE,
  CONSTRAINT fk_likes_user FOREIGN KEY (lineUserId) REFERENCES users(lineUserId) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===============================================================
-- USER_BADGES
-- ===============================================================
CREATE TABLE user_badges (
  lineUserId VARCHAR(50) NOT NULL,
  badgeId    VARCHAR(50) NOT NULL,
  earnedAt   DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (lineUserId, badgeId),
  KEY idx_user_badges_badgeId (badgeId),
  CONSTRAINT fk_user_badges_user FOREIGN KEY (lineUserId) REFERENCES users(lineUserId) ON DELETE CASCADE,
  CONSTRAINT fk_user_badges_badge FOREIGN KEY (badgeId) REFERENCES badges(badgeId) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

SET FOREIGN_KEY_CHECKS = 1;


--
-- Dumping data for table `activities`
--



--
-- Dumping data for table `admins`
--

INSERT INTO `admins` (`lineUserId`) VALUES
('Ucadb3c0f63ada96c0432a0aede267ff9');


--
-- Dumping data for table `badges`
--



--
-- Dumping data for table `comments`
--



--
-- Dumping data for table `likes`
--



--
-- Dumping data for table `submissions`
--



--
-- Dumping data for table `user_badges`
--



--
-- Dumping data for table `users`
--



--
-- Indexes for `activities`
--
ALTER TABLE `activities`
  ADD PRIMARY KEY (`activityId`);

--
-- Indexes for `admins`
--
ALTER TABLE `admins`
  ADD PRIMARY KEY (`lineUserId`);

--
-- Indexes for `badges`
--
ALTER TABLE `badges`
  ADD PRIMARY KEY (`badgeId`);

--
-- Indexes for `comments`
--
ALTER TABLE `comments`
  ADD PRIMARY KEY (`commentId`),
  ADD KEY `submissionId` (`submissionId`),
  ADD KEY `lineUserId` (`lineUserId`);

--
-- Indexes for `likes`
--
ALTER TABLE `likes`
  ADD PRIMARY KEY (`likeId`),
  ADD KEY `submissionId` (`submissionId`),
  ADD KEY `lineUserId` (`lineUserId`);

--
-- Indexes for `submissions`
--
ALTER TABLE `submissions`
  ADD PRIMARY KEY (`submissionId`),
  ADD KEY `activityId` (`activityId`),
  ADD KEY `lineUserId` (`lineUserId`);

--
-- Indexes for `user_badges`
--
ALTER TABLE `user_badges`
  ADD PRIMARY KEY (`lineUserId`,`badgeId`),
  ADD KEY `badgeId` (`badgeId`);

--
-- Indexes for `users`
--
ALTER TABLE `users`
  ADD PRIMARY KEY (`lineUserId`),
  ADD UNIQUE KEY `employeeId` (`employeeId`);

--
-- Foreign key constraints for dumped tables
--

--
-- Constraints for table `admins`
--
ALTER TABLE `admins`
  ADD CONSTRAINT `admins_ibfk_1` FOREIGN KEY (`lineUserId`) REFERENCES `users` (`lineUserId`) ON DELETE CASCADE;

--
-- Constraints for table `comments`
--
ALTER TABLE `comments`
  ADD CONSTRAINT `comments_ibfk_1` FOREIGN KEY (`submissionId`) REFERENCES `submissions` (`submissionId`) ON DELETE CASCADE,
  ADD CONSTRAINT `comments_ibfk_2` FOREIGN KEY (`lineUserId`) REFERENCES `users` (`lineUserId`) ON DELETE CASCADE;

--
-- Constraints for table `likes`
--
ALTER TABLE `likes`
  ADD CONSTRAINT `likes_ibfk_1` FOREIGN KEY (`submissionId`) REFERENCES `submissions` (`submissionId`) ON DELETE CASCADE,
  ADD CONSTRAINT `likes_ibfk_2` FOREIGN KEY (`lineUserId`) REFERENCES `users` (`lineUserId`) ON DELETE CASCADE;

--
-- Constraints for table `submissions`
--
ALTER TABLE `submissions`
  ADD CONSTRAINT `submissions_ibfk_1` FOREIGN KEY (`activityId`) REFERENCES `activities` (`activityId`) ON DELETE CASCADE,
  ADD CONSTRAINT `submissions_ibfk_2` FOREIGN KEY (`lineUserId`) REFERENCES `users` (`lineUserId`) ON DELETE CASCADE;

--
-- Constraints for table `user_badges`
--
ALTER TABLE `user_badges`
  ADD CONSTRAINT `user_badges_ibfk_1` FOREIGN KEY (`lineUserId`) REFERENCES `users` (`lineUserId`) ON DELETE CASCADE,
  ADD CONSTRAINT `user_badges_ibfk_2` FOREIGN KEY (`badgeId`) REFERENCES `badges` (`badgeId`) ON DELETE CASCADE;